<h1>Welcome to the Championships Page!</h1>
<p>View and Add Championships</p>
<h2>View Championships</h2>
<!-- DISPLAY ALL THE CHAMPIONSHIPS IN A TABLE -->
<div class="table">
    <h2>Championships</h2>
    <table>
        <thead>
            <tr>
                <th>Year</th>
                <th>West Conference Champion</th>
                <th>West Record</th>
                <th>East Conference Champion</th>
                <th>East Record</th>
                <th>Winning Team</th>
            </tr>
        </thead>
        <tbody>
            {{#each series}}
            <tr>
                <td>{{year}}</td>
                <td>{{west_champ}}</td>
                <td>{{west_record}}</td>
                <td>{{east_champ}}</td>
                <td>{{east_record}}</td>
                <td>{{winner}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>