<h1>Welcome to the Championships Page!</h1>
<p><a href="./player_championships">Click Here</a> To View Players in Championships!</p>
<p>View and Add Championships</p>
<h2>Add a Championship</h2>
<div class="form insert championship">
    <form id="addChampionship" action="/championships" method="post">
        <fieldset>
            <fieldset>
                Year: <input type="number" name="year" required><br>
            </fieldset>
            <fieldset>
                <legend>Select Western Conference Champion</legend>
                Team: <select name="west_teamID">
                    {{#each west_team}}
                    <option value={{west_id}}>{{west_team_name}}</option>
                    {{/each}}
                </select><br>
                Record (# of Games Won): <input type="number" name="west_record" required><br>
            </fieldset>
            <fieldset>
                <legend>Select Eastern Conference Champion</legend>
                Team: <select name="east_teamID">
                    {{#each east_team}}
                    <option value={{east_id}}>{{east_team_name}}</option>
                    {{/each}}
                </select><br>
                Record (# of Games Won): <input type="number" name="east_record" required><br>
            </fieldset>
            <fieldset>
                Select Champion:
                <select name="winner">
                    {{#each team}}
                    <option value={{team_id}}>{{team_name}}</option>
                    {{/each}}
                </select><br>
            </fieldset>
            <input type="submit" value="Submit">
        </fieldset>
    </form>
</div>
<h2>View Championships</h2>
<!-- DISPLAY ALL THE CHAMPIONSHIPS IN A TABLE -->
<div class="table display championship">
    <h2>Championships</h2>
    <table>
        <thead>
            <tr>
                <th>Year</th>
                <th>West Conference Champion</th>
                <th>West Record</th>
                <th>East Conference Champion</th>
                <th>East Record</th>
                <th>Winning Team</th>
            </tr>
        </thead>
        <tbody>
            {{#each series}}
            <tr>
                <td>{{year}}</td>
                <td>{{west_champ}}</td>
                <td>{{west_record}}</td>
                <td>{{east_champ}}</td>
                <td>{{east_record}}</td>
                <td>{{winner}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>