<h1>Welcome to the Championships Page!</h1>
<p>View and Add Championships</p>
<h2>Add a Championship</h2>
<div class="form insert championship" action="/championship" method="post">
    <form id="addChampionship">
        Input Year: <input type="number" name="year"><br>
        Select Western Conference Champion:
        <select>
            {{#each west_team}}
            <option value={{west_id}}>{{west_team_name}}</option>
            {{/each}}
        </select><br>
        Input Record: <input type="number" name="west_record"><br>
        Select Eastern Conference Champion:
        <select>
            {{#each east_team}}
            <option value={{east_id}}>{{east_team_name}}</option>
            {{/each}}
        </select><br>
        Input Record: <input type="number" name="east_record"><br>
        <input type="submit" value="Submit">
        Select Champion:
        <select>
            {{#each team}}
            <option value={{team_id}}>{{team_name}}</option>
            {{/each}}
        </select><br>
    </form>
</div>
<h2>View Championships</h2>
<!-- DISPLAY ALL THE CHAMPIONSHIPS IN A TABLE -->
<div class="table display championship">
    <h2>Championships</h2>
    <table>
        <thead>
            <tr>
                <th>Year</th>
                <th>West Conference Champion</th>
                <th>West Record</th>
                <th>East Conference Champion</th>
                <th>East Record</th>
                <th>Winning Team</th>
            </tr>
        </thead>
        <tbody>
            {{#each series}}
            <tr>
                <td>{{year}}</td>
                <td>{{west_champ}}</td>
                <td>{{west_record}}</td>
                <td>{{east_champ}}</td>
                <td>{{east_record}}</td>
                <td>{{winner}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>