<div class="player_endorsements_results">
    <h2>Endorsements</h2>
    <table>
        <thead>
            <tr>
                <th>Player ID</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Endorsement ID</th>
                <th>Company Name</th>
                <th>Salary</th>
                <th>Years Signed</th>
                
            </tr>
        </thead>
        <tbody>
            {{#each playerEndorsementsResults}}
            <tr >
                <td>{{Player_ID}}</td>
                <td>{{First_Name}}</td>
                <td>{{Last_Name}}</td>
                <td>{{Endorsement_ID}}</td>
                <td>{{company_name}}</td>
                <td>{{salary}}</td>
                <td>{{years_signed}}</td>
                
            </tr>
            {{/each}}
        </tbody>
    </table>

</div>