<h1>Welcome to the Players / Endorsements Page!</h1>
<h2>View Endorsements by Player</h2>
<!-- DISPLAY ALL THE PLAYERS/Endorsements IN A TABLE -->
<!--
<form method="get" action="/player_endorsements_filtered">
    <button type="submit">Filter By Player</button>
</form>
-->
        <br>


<div class="table display player_endorsements">
   
    <table>
        <thead>
            <tr>
                <th>Player ID</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Endorsement ID</th>
                <th>Company Name</th>
                <th>Salary</th>
                <th>Years Signed</th>
                
            </tr>
        </thead>
        <tbody>
            {{#each playerEndorsements}}
            <tr >
                <td>{{Player_ID}}</td>
                <td>{{First_Name}}</td>
                <td>{{Last_Name}}</td>
                <td>{{Endorsement_ID}}</td>
                <td>{{company_name}}</td>
                <td>{{salary}}</td>
                <td>{{years_signed}}</td>
                
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>

<h3>ADD ENDORSEMENT</h3>
<div class='form insert player endorsement'>
    <form id = "addPlayerEndorsement" action="/player_endorsements" method="post">
        Endorsement Deal:
        
        <select name ="endorsement_ID">
            {{#each specificEndorsements}}
            <option value = {{contractual_id}}>{{company_name}}</option>
            {{/each}}
        </select>
         <br>
        Player Name:
        <select name ="player_ID">
            {{#each specificEndorsements}}
            <option value = {{player_id}}>{{player_name}}</option>
            {{/each}}
        </select>
        <br>
        <input type="submit" value="Submit">
    </form>
</div>