<section>
<h3>Players Filtered by Team</h3>
<form id="filterPlayerByTeam" action="/players_Filtered" method="post">
Team Name:
        <select name="team_ID">
            {{#each playerTeamsFiltered}}
            <option value={{team_ID}}>{{team_name}}</option>
            {{/each}}
        </select>
    <input type="submit" value="Filter by Team" >
</form>
</section>
<br>
<br>

<div id="players_filtered_display" class="table players filtered display">
    <table>
        <!-- TODO: POPULATE FROM QUERY RESULTS-->
        <thead>
            <tr>
                <th>ID</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Team</th>
                <th>Birthdate</th>
                <th>Points</th>
                <th>School</th>
                <th>Position</th>
                <th>Starting Year</th>
                <th>Last Active Year</th>
            </tr>
        </thead>
        <tbody>
            {{#each playerByTeam}}
            <tr>
                <td>{{id}}</td>
                <td>{{first_name}}</td>
                <td>{{last_name}}</td>
                <td>{{team_name}}</td>
                <td>{{birthdate}}</td>
                <td>{{points}}</td>
                <td>{{school}}</td>
                <td>{{position}}</td>
                <td>{{player_year_start}}</td>
                <td>{{last_year_active}}</td>
            </tr>
            {{/each}}

        </tbody>
    </table>
</div>