<h1>You are Currently Updating the {{team.team_city}} {{team.name}}</h1>
<form id="team_update" action="/teams" method="post">
    <fieldset>
        <fieldset>
            City:<input type="text" name="team_city" required value="{{team.team_city}}"><br>
        </fieldset>
        <fieldset>
            Name:<input type="text" name="name" required value="{{team.name}}"><br>
        </fieldset>
        <fieldset>
            <legend>Divison</legend>
            {{#each division}}
            <input type="radio" name="division" value={{division_name}}> {{division_name}}<br>
            {{/each}}
        </fieldset>
        <fieldset>
            Arena:<input type="text" name="arena" required value="{{team.arena}}"><br>
        </fieldset>
        <fieldset>
            Head Coach:<input type="text" name="head_coach" required value="{{team.head_coach}}"><br>
        </fieldset>
        <input type="submit" value="Submit">
    </fieldset>
</form>