<h1>Welcome to the Team Page!</h1>
<p>Description:</p>
<p>View and Update the Teams Information</p>
<h2>View Team Information</h2>
<div class="table">
    <h2>Teams</h2>
    <table>
        <!-- TODO: POPULATE FROM QUERY RESULTS-->
        <thead>
            <tr>
                <th class='hidden'>ID</th>
                <th>City</th>
                <th>Name</th>
                <th>Conference</th>
                <th>Division</th>
                <th>Arena</th>
                <th>Head Coach</th>
            </tr>
        </thead>
        <tbody>
            {{#each team}}
            <tr>
                <td class='hidden'>{{id}}</td>
                <td>{{team_city}}</td>
                <td>{{name}}</td>
                <td>{{conference}}</td>
                <td>{{division}}</td>
                <td>{{arena}}</td>
                <td>{{head_coach}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>